{% extends "layout.html"%}
{%block content%}
<form method="post">
  {{forms.hidden_tag()}}
  
    {{ forms.hidden_tag() }}
    <fieldset>
      <legend>Login</legend>
      <label>Username:</label>
      {{ forms.username(size=32, class_="form-control") }}
      <br>
      <label>Password:</label>
      {{ forms.password(size=32, class_="form-control") }}
      <br>
      {{ forms.submit(class_="btn btn-primary") }}
     </fieldset>
  
</form>
<br><a href="{{url_for('register')}}">New accout?Sign</a>
{%endblock%}